header {
    background-color: #EAECCC;
    margin: 0;
}

header h1 {
    font-family: "Train One", sans-serif;
    font-size: xxx-large;
    color: #70694D;
}

footer {
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100%;
    left: 0;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

footer p {
    margin-left: 25px;
    margin-top: 15px;
}
